<%=user.name%><%- include('partials/header',{myname:user.name}); -%>

<div class="account-page-outer">
    <div class="account-page-inner">

        <div class="home-link">
            <p> <a href="/feed">Home </a> >><span><%=user.name%></span> </p>
        </div>

        <div class="user-profile">

            <div class="user-name-img">
                <img src="/uploads/<%=accountholder.dp%>" alt="_image">
                <p>&emsp;<strong><%=user.name%></strong></p>
                <!-- <div class="user-img">
                    <img src="/images/mongalmoy_img.jpg" alt="_image">
                </div>
                <div class="user-name">
                    Mongalmoy Karmakar
                </div> -->
            </div>

            <hr class="main-hr">

            <form method="POST" action="/editaccount" enctype="multipart/form-data">
                <div class="user-profile-details">
                  <h2>Profile Photo</h2>
                    <div class="separate-div">
                        <p><strong>Upload picture of yourself:</strong></p>
                        <p>Upload files of type jpeg, jpg, png only.</p>
                        <input name="newImg" type="file" accept=".png, .jpeg, .jpg">
                    </div>
                    <hr>
                    <h2>Personal Info</h2>
                    <br>
                    <div class="separate-div">
                        <label for="name"><strong>Name:</strong></label>
                        <input name="name" type="text" class="name"  value="<%=accountholder.name%>" readonly>
                    </div>
                    <div class="separate-div">
                        <strong>Email:</strong>
                        <input name="username" type="email" value="<%=accountholder.username%>" readonly>
                    </div>
                    <div class="separate-div">
                        <strong>Mobile No:</strong>
                        <input name="mobile" type="text" value="<%=accountholder.mobile%>">
                    </div>
                    <div class="separate-div">
                        <strong>Currently Working At:</strong>
                        <input name="currorg" type="text" value="<%=accountholder.currorg%>">
                    </div>

                    <div class="separate-div">
                        <strong>Current City:</strong>
                        <input name="currcity" type="text" value="<%=accountholder.currcity%>">
                    </div>

                    <div class="separate-div">
                        <strong>Current Country:</strong>
                        <input name="country" type="text" value="<%=accountholder.country%>">
                    </div>
                    <div class="separate-div">
                        <strong>Hometown:</strong>
                        <input name="hometown" type="text" value="<%=accountholder.hometown%>">
                    </div>
                    <div class="separate-div">
                        <strong>Previously Worked At:</strong>
                        <input name="prevorg" type="text" value="<%=accountholder.prevorg%>">
                    </div>
                    <div class="separate-div">
                        <strong>Passout Year:</strong>
                        <input name="year" type="text" value="<%=accountholder.year%>" readonly>
                    </div>

                    <div class="separate-div">
                        <strong>Department:</strong>
                        <input name="department" type="text" value=<%=accountholder.department%> readonly>
                    </div>
                    <div class="separate-div">
                        <strong>Something About You:</strong>
                        <input name="aboutyou" type="text" value=<%=accountholder.aboutyou%>>
                    </div>
                    <hr>
                    <h2>Social</h2>
                    <br>
                    <div class="separate-div">
                        <strong>Facebook:</strong>
                        <input name="facebook" type="text" value=<%=accountholder.facebook%>>
                    </div>
                    <div class="separate-div">
                        <strong>Linkedin:</strong>
                        <input name="linkedin" type="text" value=<%=accountholder.linkedin%>>
                    </div>
                    <div class="separate-div">
                        <strong>Github:</strong>
                        <input name="github" type="text" value=<%=accountholder.github%>>
                    </div>
                    <div class="separate-div">
                        <strong>Whatsapp:</strong>
                        <input name="whatsapp" type="text" value=<%=accountholder.whatsapp%>>
                    </div>
                    <div class="separate-div">
                        <strong>Instagram:</strong>
                        <input name="instagram" type="text" value=<%=accountholder.instagram%>>
                    </div>
                    <div class="separate-div">
                        <strong>Any other Personal Website:</strong>
                        <input name="personalwebsite" type="text" value=<%=accountholder.personalwebsite%>>
                    </div>
                </div>

                <div class="save-button">
                    <button type="submit">Save</button>
                </div>
            </form>

        </div>

    </div>
</div>

<%- include('partials/footer'); -%>
