
<%- include('partials/header'); -%>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>

<div class="chatbox">

  <div>
    <% allposts.forEach(function(post){ %>
      <div class="feed">

        <div class="user-profile-container">
          <div class="user-img">
            <img src="/images/mongalmoy_img.jpg" alt="">
          </div>
          <div class="user-info">
            <p class="user-name"><%=post.postedby.name%></p>
            <p class="user-bio">Currently Working At:  <strong><%=post.postedby.currorg%></strong></p>
            <p class="user-bio">JGEC<%=post.postedby.department%><%=post.postedby.year%></p>
          </div>
          <div class="post-time-div">
            <i class="fas fa-globe-asia"></i>
            <p><%=post.time%></p>
          </div>
        </div>

        <hr style="margin:0">
        <div class="user-chatbox">
          <p><%=post.postedtext%></p>
        </div>
      </div>
      <% }) %>

  </div>

</div>

<button class="open-button" onclick="openForm()">Write Post</button>

<div class="form-popup" id="myForm">
  <form method='POST' action='/addpost' class="form-container">

    <label for="email"><b>Write your post here:</b></label>
    <textarea name="inputText" cols="30" rows="5"></textarea>

    <button type="submit" class="btn">Post</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>

  </form>
</div>
<%- include('partials/footer'); -%>
